extends ./layout.jade

block extra-header
  link(rel='stylesheet', href='/css/index.css')

block content
  .container
    .row.sub-text
      .col-md-12
        h4
          | Enter your Twitter handle to see which other Twitter users you have the most similar (and different) personalities to yours!
    form(method='post', action='/')
      .row.twitter-submission
        .col-md-12
            span.h3 @
            input.paragraph.form-control(type='text', value='#{user ? user.screen_name : "" }', name='username', placeholder='Twitter handle...', required)
            button.button.h4(type='submit') Match with 
            input.paragraph.form-control(type='text', value='', name='matchAgainst', placeholder='Comma separated list of Twitter ids to match against', rows='4')
    if error
      .row
        .col-md-12
          div(role='alert').alert
            h3 Error
            p #{error}
    if warning
      .row
        .col-md-12
          div(role='alert').alert
            h3 Warning!
            p #{warning}
    if info
      .row
        .col-md-12
          div(role='alert').alert
            p #{info}
    .row.extra-links
      .col-md-12
        p.text-center
          a(href='https://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/') Built with IBM Watson
    .row.extra-links
      .col-md-12
        p.text-center
          a(href='/tos') Terms of use
          |  | 
          a(href='https://www.ibm.com/privacy/us/en/') Privacy Policy

// No footer on this page
block footer

block extra-scripts
  script(type='text/javascript', src='/js/index-page.js')
