html(lang='en')
  head
    block title
      title Your Personality Match

    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel='shortcut icon', href='/images/favicon.ico', type='image/x-icon')
    link(rel='icon', href='/images/favicon.ico', type='image/x-icon')

    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/css/base.css')
    block extra-header

  body
    #wrap
      block header
      block content
      block fork-github
        a#github(href='https://github.com/watson-developer-cloud/yourcelebritymatch')

      block footer
        #footer
          .container
            p.text-center
              a(href='/') Your Personality Match
              |&nbsp;|&nbsp;
              a(href='https://www.ibm.com/privacy/us/en/') Privacy Policy

    div#fb-root
    include share-scripts.jade

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
    block extra-scripts
